{% extends 'bookshelf/base.html' %}

	{% block content %}
		<hr>
		<div class="content">
			<br><br><br>
			<br><br><br>
			<br><br><br>
			<div style="width: 140px; float:left; text-align:center; height:70px; border-radius:25px; background-color:#DA70D6;"><h3><a style="text-decoration:none" href="{% url 'browse_books' %}">Browse</a></h3></div>
			<div style="width: 140px; float:right; text-align:center; height:70px; border-radius:25px; background-color:#DA70D6;"><h3><a style="text-decoration:none" href="{% url 'make_search' %}">Suggestions</a></h3></div>
			<br><br><br>
			
		<div>
	{% endblock %}






